@model SnackListViewModel

<div>
	<h2>Nossos Lanches</h2>
</div>

<div class="container">
	<div class="row">
		@foreach (var snack in Model.Snacks)
		{
			<partial name="_SnackSummary" for="@snack"/>
		}
	</div>
</div>