html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#carouselSnacks .carousel-item img {
/*    width: 50%;
    height: 256px;*/
    object-fit: cover;
    object-position: center center;
}